#forgot-password-screen {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    background-color: #f7fcfe;
}

#forgot-password-screen #content {
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

#forgot-password-screen #content h1 {
    color: #FF9695;
    font-size: 1.7vw;
    font-family: 'Raleway', sans-serif;

    padding-bottom: 0.8vh;

}

#forgot-password-screen #content h4 {
    color: #4F4F4F;
    font-size: 1.1vw;
    line-height: 1.3vw;
    font-family: 'Raleway', sans-serif;

    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    width: 80%;
    text-align: center;
}

#forgot-password-screen #content span {
    display: block;
    width: 15%;
    height: 0.2vh;
    background-color: #FF9695;
    border-radius: 10px;
}

#forgot-password-screen .input-container {
    width: 76%;
    height: fit-content;
    padding: 2%;
    
    margin-top: 1.4vh;

    background-color: #ffffff;
    border: 1px solid #A8A8A8;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#forgot-password-screen .input-container input {
    outline: 0;
    border: 0;

    color: #4F4F4F;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    padding-left: 1vw;
    width: 100%;
}

#forgot-password-screen .input-container img {
    width: 7%;
    opacity: 63%;
}

#forgot-password-screen #content h3 {
    width: 80%;

    color: #FF9695;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    margin-top: 1.4vh;
    padding: 1vh 0;

    border: 1px solid #FF9695;
    border-radius: 5px;
    box-sizing: border-box;

    text-align: center;
    cursor: pointer;
}

#forgot-password-screen #content #forgot-password-error {
    color: #ffffff;
    background-color: #ff4a49;
    border: 1px solid #ff4a49;
}

@media only screen and (max-width: 600px) {

    #forgot-password-screen {
        flex-direction: column;
    }
    
    #forgot-password-screen #content {
        width: 90%;
        height: fit-content;
        padding: 2vh 0;
    }
    
    #forgot-password-screen #content h1 {
        font-size: 6vw;
        margin-top: 7vh;
    }

    #forgot-password-screen #content h4 {
        font-size: 4vw;
        line-height: 6vw;
    
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;
        width: 90%;
    }
    
    #forgot-password-screen #content span {
        width: 20%;
    }
    
    #forgot-password-screen .input-container {
        width: 96%;
        padding: 2%;
        
        margin-top: 1.4vh;
    }
    
    #forgot-password-screen .input-container input {
        font-size: 3vw;
        padding-left: 2vw;
        width: 100%;
    }
    
    #forgot-password-screen .input-container img {
        width: 10%;
    }
    
    #forgot-password-screen #content h3 {
        width: 100%;
    
        font-size: 4vw;
    
        margin-top: 1.4vh;
        padding: 1vh 0;
    }

}